.DS_Store

/* typescript */
/typescript/dist
/typescript/node_modules

/* rust */
/rust/**/target
/rust-tutorial/**/target

/* python */
/python/**/*.pyc

/* kotlin */
/kotlin/**/*.jar
/kotlin/**/*.class
/kotlin/META-INF
